.item {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
}

.item:not(:last-of-type) {
  margin-bottom: 1rem;
}

.todoBtn {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

.todoBtn:not(:last-of-type) {
  margin-right: 0.5rem;
}

.editing {
  background: #edf2f7;
  border-radius: 0.375rem;
  padding: 0.5rem;
}

.checked {
  color: #c6c6c6;
  text-decoration: line-through;
}
